/* ================== ROOT ================== */
:root {
  /* Colors */
  --primary-color: #1e40af;
  --secondary-color: #64748b;
  --accent-color: #f59e0b;
  --background-color-dark: #080808;
  --background-color-light: #fff;

  --text-color-primary: #fff;
  --text-color-secondary: #ababab;

  /* Font Sizes */
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.25rem; /* 20px */
  --font-xxl: 1.5rem; /* 24px */
  --font-3xl: 1.75rem; /* 28px */
  --font-4xl: 1.875rem; /* 30px */
  --font-5xl: 3rem; /* 48px */
  --font-6xl: 3.75rem; /* 60px */

  /* ===== Border Radius ===== */
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 15px;
}

/* ================== BASE ================== */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-dark);
  color: var(--text-color-primary);
}

/* ================== HEADER ================== */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(/public/assets/images/tshego-memoji.png);
  background-size: auto 85%;
  background-position: right;
  background-repeat: no-repeat;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 440px;
  font-size: var(--font-xxl);
  background-image: url(/public/assets/images/south-africa-flag1.svg);
  background-size: auto 75%;
  background-position: left;
  background-repeat: no-repeat;
}

.logo span {
  color: var(--primary-color);
  font-size: var(--font-3xl);
  font-weight: 600;
  padding-left: 50px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: var(--font-lg);
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: var(--font-3xl);
}

.header-text h1 {
  font-size: var(--font-6xl);
}

.header-text h1 span {
  color: var(--primary-color);
}

/* ================= ABOUT ================= */
#about {
  padding: 80px 0;
  color: var(--text-color-secondary);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: var(--font-6xl);
  font-weight: 600;
  color: var(--text-color-primary);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: var(--font-lg);
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}
.tab-links:hover {
  transform: scale(1.05);
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--primary-color);
  font-size: var(--font-sm);
}

.tab-contents {
  display: none;
}

.tab-contents span:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.tab-contents.active-tab {
  display: block;
}

/* ================= PROJECTS ================= */
#projects {
  padding: 30px 0;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.projects-list div {
  background-color: #262626;
  padding: 30px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.projects-list div:hover {
  transform: scale(1.003);
}
.project-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 11; /* Keeps consistent ratio */
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.project-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or 'contain' for no cropping */
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-image-wrapper:hover img {
  transform: scale(1.05);
}

/* ================= FOOTER ================= */
.site-footer {
  background-color: #262626;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  margin-top: 40px;
}

.site-footer p {
  margin: 0;
}

/* ================= MEDIA QUERIES ================= */
@media (max-width: 910px) {
  #header {
    background-image: none;
  }
}
